.hidden {
  display: none;
}

body {
  align-items: center;
  background-color: black;
  background-image: url(background_images/slowed_colour_wave_background.gif);
  background-repeat: repeat-x;
  background-size: auto 100%;
  color: white;
  display: flex;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  height: 84vh;
  justify-content: center;
  margin: 0;
  padding: 8vh;
}

li {
  width: 100px;
}

ol {
  padding-inline-start: 10px;
  display: flex;
  flex-direction: column;
}

#container {
  background-color: rgba(82, 0, 22, 0.5);
  border: 1px solid white;
  border-radius: 32px;
  box-shadow: 0 0 4px 4px rgb(174, 255, 248, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 4vh;
  width: 600px;
}

#title {
  font-family: "Bungee", sans-serif;
  font-size: 3.5em;
  text-align: center;
  width: 100%;
}

.start-btn {
  background-color: rgb(146, 105, 18);
  border: 4px solid white;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px rgb(174, 255, 248, 0.4);
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 2em;
  margin: 12%;
  padding: 4%;

  animation-name: bounce;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.start-btn:hover {
  background-color: #ffaa00;
  box-shadow: 0 0 4px 4px rgb(174, 255, 248, 0.6);

  animation-duration: 0s;
}

.start-btn:active {
  background-color: #000000;
  box-shadow: 0 0 8px 8px #ffaa00;
  color: white;
}

.current-random-number-larger {
  font-size: 7em;
}

.current-random-number-smaller {
  font-size: 3em;
}

#message {
  margin-bottom: 2%;
}

#scoreboard {
  display: flex;
  font-size: 1.5em;
  font-weight: 100;
  justify-content: space-between;
  margin: 2% 0px;
  width: 100%;
}

#gameboard {
  align-items: center;
  border-radius: 4px;
  display: flex;
  width: 100%;
}

#list-container {
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

#rules {
  text-align: left;
  font-size: 0.8em;
  line-height: 1.5;
  font-family: sans-serif;
  width: 30%;
}

#rules button {
  background-color: white;
  color: rgba(82, 0, 22);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: solid 1px white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#rules button:hover {
  background-color: rgba(82, 0, 22);
  color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

li {
  align-self: center;
  width: 30%;
  margin-left: 28%;
}

li span {
  margin: 0;
  padding: 0;
  font-size: 2.3em;
}

li button {
  background-color: #29030c00;
  color: white;
  width: 100%;
  border-radius: 25%;
  margin: 2%;
  padding: 2%;
}

li button:disabled {
  color: rgb(160, 160, 160);
}

@media (max-width: 740px) {
  #container {
    width: 100%;
  }

  #title {
    font-size: 3em;
  }

  @media (max-width: 650px) {
    #title {
      font-size: 2.5em;
    }

    #scoreboard {
      font-size: 1.2em;
    }

    @media (max-width: 560px) {
      #title {
        font-size: 2em;
      }

      #scoreboard {
        font-size: 1em;
      }

      .current-random-number-larger {
        font-size: 5em;
      }

      .current-random-number-smaller {
        font-size: 2em;
      }

      @media (max-width: 480px) {
        #title {
          font-size: 1.5em;
        }

        #scoreboard {
          font-size: 0.8em;
        }

        .current-random-number-larger {
          font-size: 3em;
        }

        .current-random-number-smaller {
          font-size: 1em;
        }

        #message {
          font-size: 0.8em;
        }

        @media (max-width: 400px) {
          #title {
            font-size: 1em;
          }

          #scoreboard {
            font-size: 0.6em;
          }

          #message {
            font-size: 0.6em;
          }
        }
      }
    }
  }
}
