.row {
  display: flex;
}

.hidden {
  display: none;
}

#current-random-number {
  font-size: xx-large;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 250px 30%;
}

.gameover {
  background-color: rgba(221, 51, 42, 0.684);
}

.winning1 {
  background-color: rgba(199, 234, 220, 0.84);
}

.winning2 {
  background-color: rgba(183, 231, 212, 0.84);
}

.winning3 {
  background-color: rgba(177, 228, 207, 0.84);
}

.winning4 {
  background-color: rgba(140, 229, 192, 0.4));
}

.winning5 {
  background-color: rgba(114, 233, 183, 0.4);
}

.winning6 {
  background-color: rgba(80, 229, 167, 0.487);
}

.winning7 {
  background-color: rgba(60, 240, 165, 0.539);
}

.winning8 {
  background-color: rgba(40, 242, 158, 0.615);
}

.winning9 {
  background-color: rgba(0, 246, 144, 0.697);
}

.winning10 {
  background-color: rgb(0, 255, 149);
}
