.hidden {
  display: none;
}

body {
  align-items: center;
  background-color: black;
  background-image: url(background_images/slowed_colour_wave_background.gif);
  background-repeat: repeat-x;
  background-size: auto 100%;
  color: white;
  display: flex;
  font-family: "Outfit", sans-serif;
  height: 84vh;
  justify-content: center;
  margin: 0;
  padding: 8vh;
}

li {
  width: 100px;
}

ol {
  padding-inline-start: 10px;
  display: flex;
  flex-direction: column;
}

#container {
  background-color: rgba(82, 0, 22, 0.5);
  border: 1px solid white;
  border-radius: 32px;
  box-shadow: 0 0 4px 4px rgb(174, 255, 248, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 4vh;
  width: 42%;
}

#title {
  font-family: "Bungee", sans-serif;
  font-size: 42px;
  text-align: center;
  width: 100%;
}

.start-btn {
  background-color: rgb(146, 105, 18);
  border: 4px solid white;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px rgb(174, 255, 248, 0.4);
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  margin: 12%;
  padding: 4%;

  animation-name: bounce;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

.start-btn:hover {
  background-color: #ffaa00;
  box-shadow: 0 0 4px 4px rgb(174, 255, 248, 0.6);

  animation-duration: 0s;
}

.start-btn:active {
  background-color: #000000;
  box-shadow: 0 0 8px 8px #ffaa00;
  color: white;
}

#current-random-number {
  font-size: 80px;
}

#message {
  margin-bottom: 2%;
}

#scoreboard {
  display: flex;
  font-size: 16px;
  font-weight: 100;
  justify-content: space-between;
  margin: 2% 0px;
  width: 100%;
}

#gameboard {
  align-items: center;
  border-radius: 4px;
  display: flex;
  width: 100%;
}

#list-container {
  align-items: center;
  text-align: center;
  padding: 1% 4% 1% 6%;
  justify-content: space-between;
}

#rules {
  align-items: center;
  text-align: left;
  font-size: 12px;
  padding: 4%;
}

li p {
  margin: 0;
  padding: 0;
}

li button {
  background-color: #29030c00;
  color: white;
  width: 100%;
  border-radius: 25%;
  margin: 4%;
}

.gameover {
  background-color: rgba(221, 51, 42, 0.684);
}

.winning1 {
  background-color: rgba(199, 234, 220, 0.84);
}

.winning2 {
  background-color: rgba(183, 231, 212, 0.84);
}

.winning3 {
  background-color: rgba(177, 228, 207, 0.84);
}

.winning4 {
  background-color: rgba(140, 229, 192, 0.4);
}

.winning5 {
  background-color: rgba(114, 233, 183, 0.4);
}

.winning6 {
  background-color: rgba(80, 229, 167, 0.487);
}

.winning7 {
  background-color: rgba(60, 240, 165, 0.539);
}

.winning8 {
  background-color: rgba(40, 242, 158, 0.615);
}

.winning9 {
  background-color: rgba(0, 246, 144, 0.697);
}

.winning10 {
  background-color: rgb(0, 255, 149);
}
